<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Packge Purchase Prediction</title>
    <style>
        body {
            background-color: #D5F5E3;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            border-radius: 8px;
            background-color: #FFF;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        label {
            display: block;
            margin-bottom: 8px;
        }
        input[type="number"], select, input[type="monthlyincome"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input[type="submit"] {
            background-color: brown;
            color: #FFF;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #8B4513;
        }
        h1 {
            color: brown;
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            text-align: center;
            color: gray;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Travel Package Purchase Prediction System.</h1>
        <p>Let's predict whether a customer will purchase a Package or not.</p>
        
        <form action="{{ url_for('predict_datapoint')}}" method="post">
            
            <div>
                <label for="age">Age</label>
                <input type="number" name="age" id="age">
            </div>
            
            <div>
                <label for="prefferedpropertystar">Preferred Property Stars</label>
                <select name="prefferedpropertystar" id="prefferedpropertystar">
                    <option value=3>3.0</option>
                    <option value=4>4.0</option>
                    <option value=5>5.0</option>
                    <option value=6>6.0</option>
                </select>
            </div>
            
            <div>
                <label for="typeofcontact">Type of Contact</label>
                <select name="typeofcontact" id="typeofcontact">
                    <option value="Self Enquiry">Self Enquiry</option>
                    <option value="Company Invited">Company Invited</option>
                </select>
            </div>
            
            <div>
                <label for="maritalstatus">Marital Status</label>
                <select name="maritalstatus" id="maritalstatus">
                    <option value="Married">Married</option>
                    <option value="Unmarried">Unmarried</option>
                    <option value="Divorced">Divorced</option>
                </select>
            </div>
            
            <div>
                <label for="citytier">City Tier</label>
                <select name="citytier" id="citytier">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </div>
            
            <div>
                <label for="numberoftrips">NumberOfTrips</label>
                <select name="numberoftrips" id="numberoftrips">
                    <option value=1>1.0</option>
                    <option value=2>2.0 </option>
                    <option value=3>3.0 </option>
                    <option value=4>4.0 </option>
                    <option value=5>5.0</option>  
                    <option value=6>6.0</option>
                    <option value=7>7.0</option>
                    <option value=8>8.0</option>
                </select>
            </div>
            
            <div>
                <label for="durationofpitch">Duration Of Pitch</label>
                <input type="number" name="durationofpitch" id="durationofpitch">
            </div>
            
            <div>
                <label for="passport">Passport</label>
                <select name="passport" id="passport">
                    <option value=0>No</option>
                    <option value=1>Yes</option>
                </select>
            </div>
            
            <div>
                <label for="occupation">Occupation</label>
                <select name="occupation" id="occupation">
                    <option value="Salaried">Salaried</option>
                    <option value="Small Business">Small Business </option>
                    <option value="Large Business">Large Business </option>
                    <option value="Free Lancer">Free Lancer </option>
                </select>
            </div>
            
            <div>
                <label for="pitchsatisfactionscore">Pitch Satisfaction Score</label>
                <select name="pitchsatisfactionscore" id="pitchsatisfactionscore">
                    <option value=1>1</option>
                    <option value=2>2 </option>
                    <option value=3>3 </option>
                    <option value=4>4 </option>
                    <option value=5>5</option>   
                </select>
            </div>
            
            <div>
                <label for="gender">Gender</label>
                <select name="gender" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female </option>
                </select>
            </div>
            
            <div>
                <label for="owncar">Own Car</label>
                <select name="owncar" id="owncar">
                    <option value=0>0</option>
                    <option value=1>1</option>
                </select>
            </div>
            
            <div>
                <label for="numberofpersonvisiting">Number of Person Visiting</label>
                <select name="numberofpersonvisiting" id="numberofpersonvisiting">
                    <option value=1>1</option>
                    <option value=2>2 </option>
                    <option value=3>3 </option>
                    <option value=4>4 </option>
                    <option value=5>5</option>   
                </select>
            </div>
            
            <div>
                <label for="numberofchildrenvisiting">Number of Children Visiting</label>
                <select name="numberofchildrenvisiting" id="numberofchildrenvisiting">
                    <option value=0>0.0</option>
                    <option value=1>1.0</option>
                    <option value=2>2.0 </option>
                    <option value=3>3.0 </option>
                </select>
            </div>
            
            <div>
                <label for="numberoffollowups">Number of Follow Ups</label>
                <select name="numberoffollowups" id="numberoffollowups">
                    <option value=1>1.0</option>
                    <option value=2>2.0 </option>
                    <option value=3>3.0 </option>
                    <option value=4>4.0 </option>
                    <option value=5>5.0</option>  
                    <option value=6>6.0</option> 
                </select>
            </div>
            
            <div>
                <label for="designation">Designation</label>
                <select name="designation" id="designation">
                    <option value="Manager">Manager</option>
                    <option value="Executive">Executive </option>
                    <option value="Senior Manager">Senior Manager</option>
                    <option value="AVP">AVP </option>
                    <option value="VP">VP </option>
                </select>
            </div>
            
            <div>
                <label for="productpitched">Product Pitched</label>
                <select name="productpitched" id="productpitched">
                    <option value="Deluxe">Deluxe</option>
                    <option value="Basic">Basic </option>
                    <option value="Standard">Standard</option>
                    <option value="Super Deluxe">Super Deluxe </option>
                    <option value="King">King </option>
                </select>
            </div>
            
            <div>
                <label for="monthlyincome">Monthly Income</label>
                <input type="monthlyincome" name="monthlyincome" id="monthlyincome">
            </div>
            
            <div>
                <label for="predict_datapoint" style="color: brown;text-align: center;">SUBMIT DETAILS FOR PREDICTION</label>
                <input type="submit" name="predict" id="predict_datapoint" style="color: brown;text-align: center;">
        
            </div
